.select {
    .styled-select {
        &__control {
            border-color: var(--color-input-border);
            height: var(--input-height);
            min-height: var(--input-height);
            &--is-focused{
                box-shadow:none;
                :hover{
                    border-color: var(--color-primary-border);
                }
            }
        }
        &__indicator {
            color: var(--color-input-border);
            cursor: pointer;
            padding: 5px;
            transition: var(--input-transition);
            &:last-child{
                border-left: 1px solid var(--color-input-border);
                height: 100%;
                &:hover{
                    color: var(--color-input-hover-text);
                    background-color: var(--color-input-hover-bg);
                }
            }
            &-separator{
                background-color: transparent;
            }
        }

        &__option{
            transition: var(--input-transition);

            &--is-focused {
                background-color: var(--color-primary-hover-bg);
                color: var(--color-primary-hover-text);
            }
            &--is-selected, &:active{
                background-color: var(--color-primary-bg);
                color: var(--color-primary-text);
            }
        }
    }
}


