.date-time-picker{
    input{
        width: calc(100% - 2rem);
        display: inline-block;
        border-radius: var(--input-radius) 0 0 var(--input-radius);
        border-right: none;
    }
    .btn{
        width: 2rem;
        margin-top: -3px;
        margin-bottom: 1px;
        border-radius: 0 var(--input-radius) var(--input-radius) 0;
        svg {
            margin-top: -.2rem;
        }
    }
}