.btn {
    background-color: var(--color-input-button);
    color: var(--color-input-text);
    border: 1px solid var(--color-input-border);
    padding: var(--input-padding);
    height: var(--input-height);
    line-height: var(--input-height);
    vertical-align: top;
    & + .btn{
        margin-left: .5rem;
    }
    &.no-style, &.no-style:hover{
        background-color: transparent;
        border: none;
    }
    &.with-input{
        width: 2rem;
        vertical-align: top;
        border-radius: 0 var(--input-radius) var(--input-radius) 0;
    }
    &.block{
        width: 100%;
        display: block;
    }
    svg {
        margin-top: -.2rem;
    }
    &:hover{
        background-color: var(--color-input-hover-button);
        color: var(--color-input-hover-text);
        border-color: var(--color-input-hover-border);
    }
    &.primary{
        background-color: var(--color-primary-bg);
        color: var(--color-primary-text);
        border-color: var(--color-primary-border);
        &:hover{
            background-color: var(--color-primary-hover-bg);
            color: var(--color-primary-hover-text);
            border-color: var(--color-primary-hover-border);
        }
        &.invert{
            background-color: var(--color-primary-hover-bg);
            color: var(--color-primary-hover-text);
            border-color: var(--color-primary-hover-border);
            &:hover{
                background-color: var(--color-primary-bg);
                color: var(--color-primary-text);
                border-color: var(--color-primary-border);
            }
        }
    }
    &.secondary{
        background-color: var(--color-secondary-bg);
        color: var(--color-secondary-text);
        border-color: var(--color-secondary-border);
        &:hover{
            background-color: var(--color-secondary-hover-bg);
            color: var(--color-secondary-hover-text);
            border-color: var(--color-secondary-hover-border);
        }
        &.invert{
            background-color: var(--color-secondary-hover-bg);
            color: var(--color-secondary-hover-text);
            border-color: var(--color-secondary-hover-border);
            &:hover{
                background-color: var(--color-secondary-bg);
                color: var(--color-secondary-text);
                border-color: var(--color-secondary-border);
            }
        }
    }
    &.tertiary{
        background-color: var(--color-tertiary-bg);
        color: var(--color-tertiary-text);
        border-color: var(--color-tertiary-border);
        &:hover{
            background-color: var(--color-tertiary-hover-bg);
            color: var(--color-tertiary-hover-text);
            border-color: var(--color-tertiary-hover-border);
        }
        &.invert{
            background-color: var(--color-tertiary-hover-bg);
            color: var(--color-tertiary-hover-text);
            border-color: var(--color-tertiary-hover-border);
            &:hover{
                background-color: var(--color-tertiary-bg);
                color: var(--color-tertiary-text);
                border-color: var(--color-tertiary-border);
            }
        }
    }

}

.btn-group{
    .btn{
        border-radius: 0;
        &:first-child{
            border-radius: var(--input-radius) 0 0 var(--input-radius);
        }
        &:last-child{
            border-radius: 0 var(--input-radius) var(--input-radius) 0;
        }
    }
}