.date-picker{
    input{
        width: calc(100% - 2rem);
        display: inline-block;
        border-radius: var(--input-radius) 0 0 var(--input-radius);
        border-right: none;
    }
    .btn{
        width: 2rem;
        margin-top: -3px;
        margin-bottom: 1px;
        border-radius: 0 var(--input-radius) var(--input-radius) 0;
        svg {
            margin-top: -.2rem;
        }
    }
}

.date-picker-wrapper{
    .react-calendar {
        width: 100%;
    }
    .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
        background-color: var(--color-primary-hover-bg);
        color: var(--color-primary-hover-text);
    }
    .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
        background-color: var(--color-primary-bg);
        color: var(--color-primary-text);
    }
    .react-calendar__tile--active{
        background-color: var(--color-primary-bg);
        color: var(--color-primary-text);
    }
}
