
$color-success: #5CBA5C;
$color-warning: #F0D540;
$color-error: #BC3638;

$color-primary-bg: #888;
$color-primary-text: #fff;
$color-primary-border: darken($color-primary-bg, .5);
$color-secondary-bg: lighten($color-primary-bg, 20%);
$color-secondary-text: #fff;
$color-secondary-border: darken($color-secondary-bg, .5);
$color-main-bg: #fff;
$color-main-text: #333;