.spinner {
    color: var(--color-primary);
    animation: spin 1500ms infinite linear;
    &--xs {
        font-size: 1rem;
    }
    &--sm {
        font-size: 2rem;
    }
    &--md {
        font-size: 3rem;
    }
    &--lg {
        font-size: 4rem;
    }
    &--xl {
        font-size: 5rem;
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}