.modal {
    .modal-header{
        margin: -1.5rem -.5rem 0 -.5rem;
        padding: .5rem 1rem .25rem;
        background-color: var(--color-primary-bg);
        border-bottom: 1px solid var(--color-primary-border);
        color: var(--color-primary-text);
    }
    .modal-content {
        border-radius: 20px;
    }
    .modal-body {
        padding: 1.5rem .5rem;
    }
    .modal-buttons {
        margin: -.5rem -.5rem -1.5rem -.5rem;
        padding: 1rem;
        background-color: var(--color-secondary-bg);
        border-radius: 0 0 1rem 1rem;
        border-top: 1px solid var(--color-secondary-border);
    }
    .modal-title {
        width: 100%;
        svg+span {
            margin-top: -.25rem;
            display: inline-block;
            width: calc(100% - 2rem);
        }
    }
    .modal-footer{
        margin: 0 -.5rem -1.5rem -.5rem;
        border-top: 1px solid var(--color-secondary-border);
        background-color: var(--color-secondary-bg);
        padding: .5rem;
        border-radius: 0rem 0rem 1rem 1rem;
        justify-content: center;
    }
    .modal-content-body{
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 8rem);
        min-width: 250px;
        background-color: var(--color-main-bg);
        margin-left: -.5rem;
        margin-right: -.5rem;
        padding: 0;
    }

}

.modal-open{
    .modal{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }
}