a{
    color: var(--color-primary);
    &:hover{
        color: var(--color-primary-hover-bg);
    }

    &.inverted{
        color: var(--color-primary-text);
        &:hover{
            color: var(--color-primary-hover-text);
        }
    }
}