ol, ul {
    margin-bottom: 0;
    li {
        margin: .25rem 0;
        & > * {
            vertical-align: top;
        }
    }
}

.list-style--none{
    list-style: none;
    margin: 0;
    padding: 0;
}